<?xml version="1.0"?>
<configuration>

<!-- LOG4NET (inicio)-->
<configSections>
<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
</configSections>

<log4net debug="true">
<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
<file value="Debug\PruebaLog.log" />
<appendToFile value="true" />
<rollingStyle value="Size" />
<maxSizeRollBackups value="10" />
<maximumFileSize value="10MB" />
<staticLogFileName value="true" />
<layout type="log4net.Layout.PatternLayout">
<conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
</layout>
</appender>

<root>
<level value="DEBUG" />
<appender-ref ref="RollingLogFileAppender" />
</root>
</log4net>
<!-- LOG4NET (fin) -->

<appSettings>
<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
</appSettings>

<connectionStrings>
<add name="BaseIS" connectionString="server=127.0.0.1;User Id=root;password=101010bry;port = 3306;database=loteria" providerName="Mysql.Data.MysqlClient"/>
</connectionStrings>
<!-- DATABASE (inicio)-->




<system.web>
<!-- VERSION DE .NET (inicio)-->
<compilation debug="true" targetFramework="4.6.1"/>
<httpRuntime targetFramework="4.5.2"/>
<!-- VERSION DE .NET (fin)-->

</system.web>
<system.serviceModel>
<behaviors>
<serviceBehaviors>
<behavior>
<!-- To avoid disclosing metadata information, set the values below to false before deployment -->
<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
<!-- To receive exception details in faults for debugging purposes, set the value below to true. Set to false before deployment to avoid disclosing exception information -->
<serviceDebug includeExceptionDetailInFaults="false"/>
</behavior>
</serviceBehaviors>

<endpointBehaviors>
<behavior name="web">
<webHttp></webHttp>
</behavior>
</endpointBehaviors>


</behaviors>
<protocolMapping>
<add binding="basicHttpsBinding" scheme="https"/>
</protocolMapping>



<serviceHostingEnvironment multipleSiteBindingsEnabled="true" > </serviceHostingEnvironment>
<services>
<service name="ServicioLotoUCABcaja.servicio.service.Service1">
<endpoint binding="webHttpBinding" contract="ServicioLotoUCABcaja.servicio.service.IServicoCaja" behaviorConfiguration="web"> </endpoint>
</service> 
</services> 

</system.serviceModel>
<system.webServer>
<httpProtocol>
<customHeaders>
<add name="Access-Control-Allow-Origin" value="*" />
</customHeaders>
</httpProtocol>

<!--
To browse web app root directory during debugging, set the value below to true.
Set to false before deployment to avoid disclosing web app folder information.
-->
<directoryBrowse enabled="true"/>
<validation validateIntegratedModeConfiguration="false"/>
</system.webServer>

</configuration>